/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
.barBase__4e0ba {
  width: fit-content;
  margin-left: auto;
}
/* End make jump to present/jump to original/mark as read bars smaller and hug the right */

*:not([aria-label="Servers sidebar"] >) {
  animation-duration: none;
  transition-duration: none;
}
